/* this sets the width to 800px where the flex takes over*/
@media screen and (min-width: 800px){
    .flex-container {
        display: flex;
    }    
}

/* this sets the maximum width to 1200px for ease of viewing on large screens*/
.wrapper {
    margin: auto;
    max-width: 75rem;
}

/*standard margins and padding for all sections*/
main, header, section, footer {
    margin:10px;
    padding: 20px;
  
}

/* standard settings for the main section*/
main {
    width: 100%;
    height: auto;
    background-image: url('images/background_project.jpg');
    background-size: cover;
}

/* used -main incase I added in other headers and footers throughout the webpage*/
.header-main, .footer-main {
    background-color: #354f5e;
    border-radius: 25px ;
}

/*the following are the settings for the holders of the data input and output*/

.data-input {
    background-color: #e2e5ea ;
    flex: 0 1 300px;
    border-radius: 25px;
    border: 10px solid  #ef9c50;
}

.button {
    background-color: #ef9c50;
}


.cards-output {
    
    flex: 1;
    border-radius: 25px;
    border: 10px solid #354f5e;
    
}

.task-summary {
    background-color: #ec7063;
}
 
